html {
  font-size: 62.5%;
}
body {
  font-family: 'Quicksand', sans-serif;
  background: #fff;
  margin: 0px;
}
h1 {
  text-align: left;
  color: #3671b6;
  font-size: 3.4rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

.text-input {
  border-radius: 20px;
  min-height: 25px;
  width: 400px;
  border-width: 2px;
  border-color: #3671b6;
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.ok-button{
  border-radius: 20px;
  min-height: 25px;
  border-width: 2px;
  font-size: 2rem;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3671b6;
  color: #fff;
  border-color: #232323;
  width: 200px;
}

.header {
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;
  background-color: #3671b6;
  padding: 10px;
  display: flex;
}

.header-button {
    height: 100%;
    min-width: 100px;
    color: #fff;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #000;
    border-right-width: 2px;
    font-weight: bold;
    background-color: #3671b6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-weight: bold;
    font-size: 1.6rem;
}

.header-button:hover {
  background-color: #5da9ff70;
  border-radius: 5px;
}

.search-input {
  border-radius: 10px;
  min-height: 15px;
  width: 100%;
  border: 2px solid #232323;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 5px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.search-input:focus {
  border: 2px solid #ffd000;
}

.search-bar {
  width: 45%;
  display: flex;
  align-items: center;
}

.search-icon {
  margin-left: -40px;
  height: 24px;
  width: 24px;
}

.main {
  max-width: 70%;
  margin: auto;
  padding-bottom: 100px;
}

.star-icon{
  color: #f5c518;
  height: 20px;
  width: 20px;
}

.card-star {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-text-box {
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 0px;
  color: #fff;
  background-color: #3671b6;
  text-align: left;
  padding-bottom: 10px;
  display: block;
}

.card-text {
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 0px;
  color: #fff;
  text-align: left;
}

.pdB{
  padding-bottom: 10px;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
}

.card {
  margin: 10px 10px;
  list-style: none;
  flex: 0 0 25%;
}
.card-inner{
  border: 2px solid #3671b6;
  display: block;
}
.card-image {
  height: 185px;
  width: 274px;
}

.card-button{
  border: none;
  padding: 0px;
}

.card-button:hover{
  border: 2px solid #ffd000;
  margin: -2px;
}

.main-div {
  margin-top: 50px;
}

.review-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
}

.review-image {
  height:100% ;
  width: 185px;
}

.review-card {
  display: flex;
  border: 2px solid #3671b6;
  max-width: 800px;
  min-height: 228px;
  list-style: none;
  margin-top: 30px;
}

.review-image-button {
  border: none;
  background-color: #fff;
  padding: 0;
}

.review-image-button:hover{
  border: 2px solid #ffd000;
  margin: -2px;
  z-index: 1000;
}

.review-body {
  padding-left: 10px;
  background-color: #3671b6;
}

.review-user-text {
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 0px;
  color: #fff;
  text-align: left;
  padding-bottom: 10px;
}

.review-full-button {
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 10px;
  color: #fff;
  text-align: left;
  margin-top: 1em;
  padding-bottom: 10px;
}

.review-full-button:hover {
  text-decoration: underline;
}

.user-button {
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 10px;
  color: #fff;
  text-align: left;
  margin-top: 1em;
  padding-bottom: 10px;
}

.user-button:hover {
  text-decoration: underline;
}

.review-user-text:hover {
  text-decoration: underline;
}

.heart-icon:hover {
  color: #ffd000;
}