<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <title>Your Reviews</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <script src="/js/scripts.js"></script>
    </head>
    <body>
        <%- include('templates/header'); %>
        <div class="main">
            <div>
                <h1>Em Alta</h1>
                <ul class="card-list">
                    <% TopContent.forEach(function(Movie){ %>
                      <%- include('templates/moviecard', {Movie: Movie}); %>
                    <% }); %>
                </ul>
            </div>
            <div class="main-div">
                <h1>Lançamentos</h1>
                <ul class="card-list">
                    <% Releases.forEach(function(Movie){ %>
                      <%- include('templates/moviecard', {Movie: Movie}); %>
                    <% }); %>
                </ul>
            </div>
            <div class="main-div">
                <h1>Críticas recentes</h1>
                <ul class="review-list">
                    <% NewReviews.forEach(function(Review){ %>
                      <%- include('templates/userreviewcard', { Review }); %>
                    <% }); %>
                </ul>
            </div>
        </div>
    </body>
</html>